<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Food Search App</title>

    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>

    <div class="jumbotron">
      <div class="container">
        <h1>Food Search App</h1>
        <p>Welcome to the Food Search Application!</p>
        <p>
          <a href="/search" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Search
          </a>
          <a href="/kitchen-profile" class="btn btn-primary">
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
            Set Up Kitchen Profile
          </a>
        </p>
      </div>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
